{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
            background-color: #FFFFFF; 
            color: #000000; 
            margin: 0;
            padding: 0;
            padding-top: 4rem; 
        }
        h1, h2, h5 {
            font-family: 'Playfair Display';
            color: #000000; 
        }
    </style>
</head>

<body class="font-raleway">
    {% if request.path == '/login/' or request.path == '/register/' or request.path == '/login_register/' or request.path == '/' %}
        {% include 'navbar_guest.html' %}
    {% endif %}

    {% if request.path == '/hewan/' or request.path == '/profile-klien/' or request.path == '/klinik/vaksinasi/' %}
        {% include 'navbar_klien.html' %}
    {% endif %}

    {% if 'profile-frontdesk' in request.path or 'hewan/jenis-hewan' in request.path or 'klinik/klien' in request.path %}
        {% include 'navbar_front_desk.html' %}
    {% endif %}
    <div class="container mx-auto mt-4">
        {% block content %} {% endblock content %}
    </div> 
</body>

</html>
